html,body{
  min-height: 100vh;
  transition: font-size .3s ease;
  background-color: $color-black !important;
}

.js .item-conteudo{
  opacity: 0;
  transform: translate3d(-30px,0,0);
  transition: .3s;
}

.item-conteudo.ativo{
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: .3s;
}

.bloco-intro{
  background-image: url('../src/background-intro.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: $spacing-huge !important;
}
.Autography{
  font-family: $font-family-display!important;
  font-size: $font-size-lg !important;
  color: $-color-brand-01;
}

.titulo{
  font-family: $font-family-base!important;
  font-size: $font-size-xxl !important;
  color: $color-white;
  font-weight: 600;
}

.descricao{
  font-family: $font-family-base!important;
  font-size: $font-size-sm !important;
  color: $color-white;
  font-weight: 300;
}

.btn-contato{
    background-color: black;
    color: #fff;
    text-decoration: none;
    border: 3px solid #fb3500;
    padding: 10px;
    border-radius: $border-radius-lg;
    font-size: $font-size-sm !important;
    padding: $spacing-xxxs;
    margin-right: 20px;
    font-family: $font-family-base, Arial, Helvetica, sans-serif;
    margin-bottom: $spacing-xxxs;
    margin-top: $spacing-xxs;
    
}

.btn-contato:hover{
  background-color: #fb3500;
  color: #fff;
  transition: .3s;
}

.grupo-botao{
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
}

.bloco-midle{
  background-image: url('../src/quemSomos.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: $spacing-huge !important;
}

.bloco-midle2{
  background-image: url('../src/bg-vantagens.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: $spacing-huge !important;
}

.bloco-midle3{
  background-image: url('../src/bg-acordeon.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: $spacing-huge !important;
}


.titulo-2{
  font-family: $font-family-base!important;
  font-size: $font-size-xxl !important;
  color: $-color-brand-03;
  font-weight: 300;

  &.color-white-text{
    color: $color-white !important;
  }

  &.color-2-text{
    color: $-color-brand-01 !important;
  }
}


.bloco{
  padding: 80px;
}

.img-solucao{
  padding: 20px;
  width: 250px;
}

.descricao-info{
  font-family: $font-family-base!important;
  font-size: $font-size-sm !important;
  color: $color-white;
  font-weight: 500;
}

.infografico{
  width: 95%;
  height: 100%;
  padding: $spacing-xxxs !important;
}

.info-title{
  font-family: $font-family-base!important;
  font-size: $font-size-xxl !important;
  color: $color-white;
  font-weight: 300;
}

.info-x{
  width: 90%;
}

.number{
  font-family: $font-family-base!important;
  font-size: $font-size-xxl !important;
  color: $-color-brand-01;
  font-weight: 600;
}



.depoimento{
  padding: $spacing-xl;

  .img-estrelas{
    width: 132px;
    height: 20px;
    margin-bottom: $spacing-nano;
  }
}

footer{
  background-image: url('../src/footer.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.Autography-footer{
  font-family: $font-family-display!important;
  font-size: $font-size-md !important;
  color: $-color-brand-01;

  a{
    color: $-color-brand-01;
    text-decoration: none;
  }
}

.descricao-footer{
  font-family: $font-family-base!important;
  font-size: $font-size-xs !important;
  color: $color-white;
  font-weight: 300;
}

.logo-footer{
  width: 15rem;
  margin-right: $spacing-xs;
}

.autores{
  display: flex;

  .info{
    padding: $spacing-xxxs;
  }

}

.final{
  display: flex;
    justify-content: center;
    align-items: center;

    &::after{
      content: '';
      width: 1px;
      height: 40px;
      background-color: $-color-brand-01;
      margin: $spacing-xxxs;
    }
}

.img-middle{
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {

  .grupo-botao{
    flex-direction: column;
    display: flex;
  }

  .btn-contato{
   

  }
  .titulo-2{
    font-size: $font-size-xl !important;
  }

  .bloco-intro{
    padding: $spacing-xxxs !important;
  }

  .bloco-midle{
    padding: $spacing-xxxs !important;
    background-image: none !important;
  }

  .bloco-midle2{
    padding: $spacing-xxxs !important;
    background-image: none !important;
  }

  .bloco{
    padding: $spacing-xxxs !important;
  }

  .info-x{
    display: none;
  }
  footer{
    background-size: contain;
  }

  .descricao-footer{
    text-align: center;
  }

  .autores{
    flex-direction: column;
    text-align: center;
  }

  .Autography-footer{
    font-size: 2rem !important;
  }

  .final{
    flex-direction: column;

    &::after{
      content: '';
      width: 40px;
      height: 1px;
      background-color: $-color-brand-01;
      margin: $spacing-xxxs;
    }
  }
  
  .logo-footer{
    margin-bottom: $spacing-xs;
  }
  
}